body, html {
    max-height: 100vh;
}

.app {
    opacity: 0;
    transform: scale(0.95);
}

.app.loaded {
    transition: opacity 0.3s, transform 0.3s;
    opacity: 1;
    transform: scale(1);
}

@font-face {
    font-family: Main;
    size-adjust: 110%;
    src: url("/Font/InterVariable.woff2");
}

@font-face {
    font-family: Icon;
    src: url("/Font/Tabler.ttf");
}

@font-face {
    font-family: Mono;
    src: url("/Font/JetBrains.ttf");
}

* {
    font-family: Main, Icon;
    color: var(--col-text);
    box-sizing: border-box;

    --col-bg: white;
    --col-overlay: rgba(255, 255, 255, 0.5);
    --col-text: #111111;
    --col-text-overlay: rgb(107 114 128);
    --col-primary: #8a48f5;
    --col-secondary: #acee3a;
    --col-tertiary: #f3e7ff;
    --col-contrast: #3B3043;
    --col-disabled: #251F29;

    --nextui-colors-primary: var(--col-primary) !important;
    --nextui-colors-primarySolidHover: var(--col-primary) !important;
}

@media (prefers-color-scheme: dark) {
    * {
        --col-bg: #222222;
        --col-overlay: rgba(0, 0, 0, 0.5);
        --col-text: #F1ECF3;
        --col-text-overlay: rgb(107 114 128);
        --col-primary: #9D67F4;
        --col-secondary: #BEF264;
        --col-tertiary: #3D303B;
        --col-contrast: #3B3043;
        --col-disabled: #251F29;
    }
}

body {
    margin: 0;
    padding: 20px;
    padding-top: 7px;
    background-color: var(--col-bg) !important;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.header h2 {
    margin: 0 !important;
    line-height: 40px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.05em;
}

.chakra-input {
    padding-left: 11px !important;
    outline: none !important;
    border: none !important;
    border-radius: 5px !important;
}

.chakra-input:focus-visible {
    background-color: var(--col-tertiary) !important;
}

.wifiList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    width: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}

.wifiList::-webkit-scrollbar { 
    display: none; 
}

.wifi {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.wifi h2 {
    font-size: 45px;
}

.wifi .wifiInfo {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 5px;
}

.wifi .wifiInfo h3 {
    font-weight: 600;
}

.wifiInfo .password code {
    width: fit-content;
    font-family: Mono;
    border-radius: 3px;
}

.wifiInfo .password {
    display: flex;
    gap: 5px;
    height: 21px;
}

.wifiInfo .password button {
    padding: 0;
    height: 21px;
    width: 21px;
    min-width: 0;
    font-size: 14px;
    font-weight: 550;
    border-radius: 3px;
    background-color: var(--col-secondary);
    color: black;
}

.wifi > button {
    border-radius: 5px;
    background-color: var(--col-primary);
    font-weight: 500;
    font-size: 24px;
    padding: 0;
    color: white;
}

.wifi > button:first-of-type {
    margin-left: auto;
}

.QRCode {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    margin: auto;
}